@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  margin: 0;
  overflow: hidden; /* لمنع التمرير خارج المزرعة */
}

canvas {
  touch-action: none; /* لتحسين تجربة اللمس على الجوال */
}
